header {
    background-color: yellow;
    display: inline-block;
    width: 600px;
    margin-left: calc((100% - 600px) / 2);
    margin-left: calc((100% - 600px) / 2);
}

main {
    background-color: yellowgreen;
    display: inline-block;
    width: 600px;
    margin-left: calc((100% - 600px) / 2);
    margin-left: calc((100% - 600px) / 2);
}
header > img {
    height: 80px;
}
.large-image {
    height: 160px;
}