body{
    background-color: gainsboro;
}
body *{
    color: grey;
    font-family: "consolas", sans-serif;
}
header {
    display: inline-block;
    width: 900px;
    margin-left: calc((100% - 900px) / 2);
    margin-right: calc((100% - 900px) / 2);
}
header > *{
    display:inline-block
}

main {
    background-color: rgb(243, 247, 236);
    display: inline-block;
    width: 900px;
    margin-left: calc((100% - 900px) / 2);
    margin-right: calc((100% - 900px) / 2);
}

header > img {
    height: 80px;
}

main > img{
    height: 320px;
}

nav{
    float: right;
    margin-top: 30px;
}

main > *{
    display: inline-block;
    width: 49%;
}

main > div > h1{
    font-size: 100px;
}

main > div > p{
    display: block;
}

.large-image {
    height: 160px;
}



.btn{

    text-decoration: none;
    margin: 14px;
}

.signin{
    border-color: gray;
    border-style: solid;
    padding: 5px 30px;
    border-radius: 15px;
}